<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheet/stylesheet.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/5c74e82598.js"></script>
	<script src="scripts/script.js"></script>
	
</head>
<body>
	<header> {{> header }} </header>
			 {{{ body }}} 
	<footer class = "footer"> {{> footer }} </footer>
</body>
</html>