 <h1>Find by Category</h1>
                <div class ="row">
                    <div class = "col-sm-4">
                        <span class="" onclick = "getCat('Arts & Entertainment')">
                        <img class="cat-img" src="/img/Arts & Entertainment.jpg" />
                        <span class=""></span>
                        <span class="cat-text">Arts & Entertainment</span>
                        </span>
                    </div>

                    <div class = "col-sm-4">
                        <span class="" onclick = "getCat('Accounting')">
                        <img class="cat-img" src="/img/Accounting.jpg" />
                        <span class=""></span>
                        <span class="cat-text">Accounting</span>
                        </span>
                    </div>

                    <div class = "col-sm-4">
                        <span class="" onclick = "getCat('Beauty & Wellness')">
                        <img class="cat-img" src="/img/Beauty & Wellness.jpg" />
                        <span class=""></span>
                        <span class="cat-text">Beauty & Wellness</span>
                        </span>
                    </div>
                </div>
                <div class ="row">
                    <div class = "col-sm-4">
                        <span class="" onclick = "getCat('Engineering')">
                        <img class="cat-img" src="/img/Engineering.jpg" />
                        <span class=""></span>
                        <span class="cat-text">Engineering</span>
                        </span>
                    </div>

                
                    <div class = "col-sm-4">
                        <span class="" onclick = "getCat('Education')">
                        <img class="cat-img" src="/img/Education.jpg" />
                        <span class=""></span>
                        <span class="cat-text">Education</span>
                        </span>
                    </div>

                    <div class = "col-sm-4">
                        <span class="" onclick = "getCat('Health')">
                        <img class="cat-img" src="/img/Health.jpg" />
                        <span class=""></span>
                        <span class="cat-text">Health</span>
                        </span>
                    </div>
                </div>
                <div class ="row">
                    <div class = "col-sm-4">
                            <span class="" onclick = "getCat('Retail')">
                            <img class="cat-img" src="/img/Retail.jpg" />
                            <span class=""></span>
                            <span class="cat-text">Retail</span>
                            </span>
                    </div>

                    <div class = "col-sm-4">
                            <span class="" onclick = "getCat('Sport')">
                            <img class="cat-img" src="/img/Sport.jpg" />
                            <span class=""></span>
                            <span class="cat-text">Sport</span>
                            </span>
                    </div>
            



                    <div class = "col-sm-4">
                            <span class="" onclick = "getCat('Technology')">
                            <img class="cat-img" src="/img/Technology.jpg" />
                            <span class=""></span>
                            <span class="cat-text">Technology</span>
                            </span>
                    </div>
                    </div>
                </div>